body{
    margin: 0;
    padding: 0;
    display: block;
}

.question-answer{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #3498db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Adjust the shadow as needed */
    transition: box-shadow 0.3s ease-in-out;
    z-index: 1;
    
}
.question-answer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjust the shadow for the hover effect */
}
.container-title{
align-items: flex-start;
padding-left: 40px;
padding-top: 10px;
padding-bottom: 5px;
margin-left: 10px;
margin-right: 10px;
border-bottom: 2px rgb(203, 203, 203) solid;

}
.containerChild{
padding: 10px;

}
.question{
    font-size:1.5rem;
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 1px black solid;
    cursor: pointer;
    position: relative;
}
.answer{
    font-size: 20px;
    padding-left: 20px;
}

.question-answer .containerChild .question::after{
    content: "+";
    position: absolute;
    right: 30px;
}

.question-answer .containerChild .answer{
    padding-top: 15px;
    width: 100%;
    height:0px;
    overflow: hidden;
    transition: .5s;
}

/* javascript styling  */
.question-answer .containerChild .answer {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.question-answer .containerChild.active .answer {
    height: 60px;
}

.question-answer .containerChild .question {
    font-size: 20px;
    transition: font-size 0.5s;
}

.question-answer .containerChild.active .question {
    font-size: 18px;
}

.question-answer .containerChild .question::after {
    content: "+";
    font-size: 30px;
    transition: content 0.5s, font-size 0.5s;
}

.question-answer .containerChild.active .question::after {
    content: "-";
    font-size: 30px;
}
